doctype html
html
    head
        title Gulp 4 Template
        link(rel='stylesheet' href='static/css/main.css')
    body
        .slider
            .slider-item hello
            .slider-item there
            .slider-item yan
    script(src='static/js/libs.min.js')
    script(src='static/js/main.js')
